extends layout

block css
    link(rel='stylesheet', href='/stylesheets/style.css')

    // style libs bootstrap
    link(rel='stylesheet', href='css/style.css')

    // BOOTSTRAP
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/bootstrap-table.css')

block js
    // ANGULAR
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // BOOTSTRAP
    script(src='js/bootstrap.min.js')
    script(src='js/bootstrap-table-all.js')

    // NOTIFYJS
    script(src='js/notify.js')

    // GRAPHITE
    script(src='js/jquery.graphite.js')

    // STATIC
    script(src='js/config.js')

block content
    .container.fullheight#container
        h1= title
        .row
            .col-md-2
                h4 ConfigTabs
            .col-md-8
                ul.nav.nav-pills
                    li
                        a(data-toggle='pill' href='#configManager') Configuration
                    li.active
                        a(data-toggle='pill' href='#configHosts') Hosts
                    li
                        a(data-toggle='pill' href='#configMonitor') Monitor
                    li
                        a(data-toggle='pill' href='#configRabbit') RabbitMQ
                    li
                        a(data-toggle='pill' href='#configInflux') InfluxDB
        hr
        .row.tab-content.frame-fixed-size
            #configManager.tab-pane.fade

                .row.col-md-12
                    .col-md-2
                        p Manager RPC Server
                    .col-md-6
                        input.bb-config.form-control#manager-ip(type='text' placeholder='manager.ip' value='localhost' )
                    .col-md-2
                        input.bb-config.form-control#manager-port(type='text' placeholder='manager.port' value='4242' )
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="testConnection($('#manager-ip').val(),$('#manager-port').val())") Test Connect
                .row.col-md-12
                    .col-md-2
                        p StackSync Server
                    .col-md-6
                        input.bb-config.form-control#stacksync-ip(type='text' placeholder='ss.stacksync.ip' value="#{session.config.ss.stacksync.ip}")
                    .col-md-2
                        input.bb-config.form-control#stacksync-port(type='text' placeholder='ss.stacksync.port' value="#{session.config.ss.stacksync.port}")
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="testConnection($('#stacksync-ip').val(),$('#stacksync-port').val())") Test Connect
                .row.col-md-12
                    .col-md-2
                        p OwnCloud Server
                    .col-md-6
                        input.bb-config.form-control#owncloud-ip(type='text' placeholder='ss.owncloud.ip' value="#{session.config.ss.owncloud.ip}")
                    .col-md-2
                        input.bb-config.form-control#owncloud-port(type='text' placeholder='ss.owncloud.port' value="#{session.config.ss.owncloud.port}")
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="testConnection($('#owncloud-ip').val(),$('#owncloud-port').val())") Test Connect
                .row.col-md-12
                    .col-md-2
                        p Graphite
                    .col-md-6
                        input.bb-config.form-control#graphite-ip(type='text' placeholder='ls.graphite.ip' value='#{session.config.ls.graphite.ip}')
                    .col-md-2
                        input.bb-config.form-control#graphite-port(type='text' placeholder='ls.graphite.port' value='#{session.config.ls.graphite.port}')
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="testConnection($('#graphite-ip').val(),$('#graphite-port').val())") Test Connect
                .row.col-md-12
                    .col-md-2
                        p Impala
                    .col-md-6
                        input.bb-config.form-control#impala-ip(type='text' placeholder='ls.impala.ip' value='#{session.config.ls.impala.ip}')
                    .col-md-2
                        input.bb-config.form-control#impala-port(type='text' placeholder='ls.impala.port' value='#{session.config.ls.impala.port}')
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="testConnection($('#impala-ip').val(),$('#impala-port').val())") Test Connect
                .row.col-md-12
                    .col-md-2
                        p RabbitMQ server
                    .col-md-8
                        input.bb-config.form-control#rabbitmq-amqp(type='text' placeholder='rabbitmq.amqp.url' value='#{session.config.rabbitmq.url}')
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="") Test Connect
            //
                #configMonitor.tab-pane.fade
                    .col-md-2
                        h4 Monitor
                    .col-md-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(src="http://localhost:3000/dashboard/db/benchbox")
                        //iframe(src="http://localhost:3000/dashboard-solo/db/benchbox?panelId=3&fullscreen&edit&from=1449831622982&to=1449831742982" height="200" width="300")
                #configRabbit.tab-pane.fade
                    .col-md-2
                        h4 RabbitMQ Manager
                    .col-md-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(src="http://localhost:15672/#/")

                #configInflux.tab-pane.fade
                    .col-md-2
                        h4 Influx Manager
                    .col-md-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(src="http://localhost:8083")

            #configHosts.tab-pane.fade.in.active
                .col-md-12
                    div(ng-app="app")
                        ng-view

        hr
        footer.footer
            p © AST 2015

        // CUSTOM
        script(src='js/init.js')