extends layout

block css
    link(rel='stylesheet', href='/stylesheets/style.css')

    // style libs bootstrap
    link(rel='stylesheet', href='css/style.css')

    // BOOTSTRAP
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/bootstrap-table.css')

    // graphene
    // link(rel='stylesheet', href='css/graphene.min.css')



block js
    // ANGULAR
    // script(src='js/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js')
    // script(src='js/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // BOOTSTRAP
    script(src='js/bootstrap.min.js')
    script(src='js/bootstrap-table-all.js')

    // NOTIFYJS
    script(src='js/notify.js')


    // GRAPHITE
    script(src='js/jquery.graphite.js')
    //script(src='js/d3.js')
    //script(src='js/backbone.js')
    //script(src='js/underscore.js')
    // script(src='js/graphene.min.js')

    // CUSTOM
    script(src='js/init.js')


    // STATIC
    script(src='js/config.js')


block template
    // TEMPLATES
    script(id='/hosts.html' type="text/ng-template").
        Search: <input type='text' ng-model='search.name'>
        <ul>
        <li ng-repeat="host in hosts | filter: search">
        <input type="checkbox" ng-model="host.completed">
        <a href="#/{{$index}}">{{host.name}}</a>
        </li>
        </ul>

block content
    .container.fullheight#container
        // id (#)
        h1= title
        if session.cookie !== undefined
            p session found #{session.cookie.httpOnly}
        else
            p no session
        //
            .header.clearfix
                nav
                    ul.nav.nav-pills.pull-right
                        li.active(role="presentation")
                            a Home

        .row
            .col-md-2
                h4 ConfigTabs
            .col-md-8
                ul.nav.nav-pills

                    li
                        a(data-toggle='pill' href='#configManager') Configuration
                    //
                        li
                            a(data-toggle='pill' href='#configSyncServer') Cloud Servers
                    //
                        li
                            a(data-toggle='pill' href='#configLogServer') Log Servers
                    li.active
                        a(data-toggle='pill' href='#configHosts') Hosts
                    //
                        li
                            a(data-toggle='pill' href='#configProfile') Profile
                    li
                        a(data-toggle='pill' href='#configMonitor') Monitor
                    //
                        li
                            a(data-toggle='pill' href='#configConsole') Console
            //
                .col-md-2
                    a.btn.btn-success.btn-block(href='/load') Load Default
        hr
        .row.tab-content.frame-fixed-size
            #configManager.tab-pane.fade

                .row.col-md-12
                    .col-md-2
                        p Manager RPC Server
                    .col-md-6
                        input.bb-config.form-control#manager-ip(type='text' placeholder='manager.ip' value='localhost' )
                    .col-md-2
                        input.bb-config.form-control#manager-port(type='text' placeholder='manager.port' value='4242' )
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="testConnection($('#manager-ip').val(),$('#manager-port').val())") Test Connect
                .row.col-md-12
                    .col-md-2
                        p StackSync Server
                    .col-md-6
                        input.bb-config.form-control#stacksync-ip(type='text' placeholder='ss.stacksync.ip' value='#{session.config.ss.stacksync.ip}')
                    .col-md-2
                        input.bb-config.form-control#stacksync-port(type='text' placeholder='ss.stacksync.port' value='#{session.config.ss.stacksync.port}')
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="testConnection($('#stacksync-ip').val(),$('#stacksync-port').val())") Test Connect
                .row.col-md-12
                    .col-md-2
                        p OwnCloud Server
                    .col-md-6
                        input.bb-config.form-control#owncloud-ip(type='text' placeholder='ss.owncloud.ip' value='#{session.config.ss.owncloud.ip}')
                    .col-md-2
                        input.bb-config.form-control#owncloud-port(type='text' placeholder='ss.owncloud.port' value='#{session.config.ss.owncloud.port}')
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="testConnection($('#owncloud-ip').val(),$('#owncloud-port').val())") Test Connect
                .row.col-md-12
                    .col-md-2
                        p Graphite
                    .col-md-6
                        input.bb-config.form-control#graphite-ip(type='text' placeholder='ls.graphite.ip' value='#{session.config.ls.graphite.ip}')
                    .col-md-2
                        input.bb-config.form-control#graphite-port(type='text' placeholder='ls.graphite.port' value='#{session.config.ls.graphite.port}')
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="testConnection($('#graphite-ip').val(),$('#graphite-port').val())") Test Connect
                .row.col-md-12
                    .col-md-2
                        p Impala
                    .col-md-6
                        input.bb-config.form-control#impala-ip(type='text' placeholder='ls.impala.ip' value='#{session.config.ls.impala.ip}')
                    .col-md-2
                        input.bb-config.form-control#impala-port(type='text' placeholder='ls.impala.port' value='#{session.config.ls.impala.port}')
                    .col-md-2
                        button.btn.btn-primary.btn-block(onclick="testConnection($('#impala-ip').val(),$('#impala-port').val())") Test Connect

            //
                    .row.col-md-12
                        .col-md-2
                            p Install new Manager
                        .col-md-2
                            form(method='get' action='/manager.py')
                                button.btn.btn-info.btn-block(type='submit') Download!
                        .col-md-2
                            input.form-control(type='text' value='run: python manager.py')
                        .col-md-2
                            input.form-control(type='text' value='stop: CTRL + C')
                        .col-md-4
                            button.btn.btn-warning.btn-block AutoRun!

            #configSyncServer.tab-pane.fade

            #configLogServer.tab-pane.fade

            #configMonitor.tab-pane.fade
                .col-md-2
                    h4 Monitor
                .col-md-10
                    //
                        .row
                            .col-md-2
                                p graphana
                            .col-md-4
                                input.form-control#grafana-ip(type='text' placeholder='ls.grafana.ip' value='#{session.config.ls.grafana.ip}')
                            .col-md-4
                                input.form-control#grafana-port(type='text' placeholder='ls.grafana.port' value='#{session.config.ls.grafana.port}')
                            .col-md-2
                                button.btn.btn-primary.btn-block(onclick="testConnection($('#grafana-ip').val(),$('#grafana-port').val())") Test Connect
                    .row
                        .col-md-2
                            p Select graph:
                        .col-md-10
                            ul.nav.nav-pills
                                li.active
                                    a(data-toggle='pill' href='#graphXXX') XXX
                                li
                                    a(data-toggle='pill' href='#graphCPU') CPU
                                li
                                    a(data-toggle='pill' href='#graphRAM') RAM
                                li
                                    a(data-toggle='pill' href='#graphNET') NET
                                li
                                    a(data-toggle='pill' href='#graphNET') Cubism
                                    // http://square.github.io/cubism/
                                li
                                    a(data-toggle='pill' href='#graphNET') Giraphe
                                    // https://github.com/kenhub/giraffe
                                    // http://xor.lonnen.com/graphite.js/

                            hr
                            .row.tab-content
                                #graphXXX.tab-pane.fade.in.active
                                    .col-md-12
                                        #includedContent
                                        // img.img-responsive.center-block#monitorXXX(alt='xxxMonitor')

                                        script(type='text/javascript').
                                            console.log('Testing graphene')
                                            /*
                                             $(function () {
                                             $("#includedContent").load("/example/index.html");
                                             });
                                             */



                                #graphCPU.tab-pane.fade
                                    .col-md-12
                                        img.img-responsive.center-block#monitorCPU(alt='cpuMonitor')
                                    // (src='https://ast03:8443/render/?width=586&height=308&target=carbon.agents.vagrant-ubuntu-trusty-64-1.cpuUsage')

                                #graphRAM.tab-pane.fade
                                    .col-md-12
                                        img.img-responsive.center-block#monitorRAM(alt='ramMonitor')
                                    // (src='https://ast03:8443/render/?width=586&height=308&target=carbon.agents.vagrant-ubuntu-trusty-64-1.memUsage')

                                #graphNET.tab-pane.fade
                                    .col-md-12
                                        img.img-responsive.center-block#monitorNET(alt='netMonitor')
                                    //(src='https://ast03:8443/render/?width=586&height=308&target=carbon.agents.vagrant-ubuntu-trusty-64-1.pointsPerUpdate&target=carbon.agents.vagrant-ubuntu-trusty-64-1.updateOperations')
                            hr
                            .row.tab-content
                                #btnFixImage.btn.btn-danger Fix Image https 501 Error.


            #configHosts.tab-pane.fade.in.active
                .col-md-12
                    div(ng-app="app")
                        ng-view


            #configProfile.tab-pane.fade
                .col-md-2
                    h4 Profile
                .col-md-2
                    input.bb-config.form-control#profile-sync(type='text' placeholder='sync' value='#{session.config.profile.sync}')
                .col-md-2
                    input.bb-config.form-control#profile-regular(type='text' placeholder='regular' value='#{session.config.profile.regular}')
                .col-md-2
                    input.bb-config.form-control#profile-cdn(type='text' placeholder='cdn' value='#{session.config.profile.cdn}')
                .col-md-2
                    input.bb-config.form-control#profile-backup(type='text' placeholder='backup' value='#{session.config.profile.backup}')
                .col-md-2
                    input.bb-config.form-control#profile-idle(type='text' placeholder='idle' value='#{session.config.profile.idle}')

            #configConsole.tab-pane.fade

                .col-md-2
                    h4 Console
                .col-md-10
                    .row
                        .col-md-3
                            .btn.btn-primary.btn-block#btnHello hello
                        .col-md-3
                            .btn.btn-info.btn-block#btnGoodbye goodbye
                        .col-md-3
                            .btn.btn-warning.btn-block#btnStart start
                        .col-md-3
                            .btn.btn-danger.btn-block#btnList list

                    .row.logger
                        .col-md-12
                            textarea.form-control.font-mono-size#loggerFrame(disabled rows='20' style='font-size: x-small')
                    .row
                        .col-md-10
                            input.form-control#inputCmd(type='text' placeholder='cmd' value='ls -l')
                        .col-md-2
                            button.btn.btn-primary.btn-block#btnCmd Submit

        hr
        footer.footer
            p © AST 2015
        .row.tab-content.frame-fixed-size#requestStatus
            .row
                .col-md-4 action
                .col-md-8 status




        script(type='text/javascript').
            angular.module('app', ['ngRoute', 'ngResource'])

                //---------------
                // Services
                //---------------
                    .directive('img-stream', function () {
                        return {
                            restrict: 'A',
                            link: function (scope, element, attrs) {
                                element.bind('load', function () {
                                    console.log("Image is loaded");
                                });
                            }
                        };
                    })


                //---------------
                // Factory
                //---------------

                    .factory('Hosts', ['$resource', function ($resource) {
                        // quin api rest utilitzar???
                        return $resource('/hosts/:id', null, {
                            'update': {
                                method: 'PUT'
                            }
                        });
                    }])
                //---------------
                // Controllers
                //---------------


                // notify
                // .controller('ConnectionNotify', [])


                // hostDetails.html
                    .controller('HostDetailCtrl', ['$scope', '$routeParams', 'Hosts', '$location', function ($scope,
                                                                                                             $routeParams, Hosts, $location) {
                        $scope.host = Hosts.get({id: $routeParams.id});

                        $scope.update = function () {
                            Hosts.update({id: $scope.host._id}, $scope.host, function () {
                                $location.url('/');
                            });
                        };
                        $scope.remove = function () {
                            Hosts.remove({id: $scope.host._id}, function () {
                                $location.url('/');
                            });
                        };
                    }])

                // hosts.html
                    .controller('HostController', ['$scope', 'Hosts', function ($scope, Hosts) {
                        // default test settings
                        $scope.run = {
                            testOps: 10,
                            testItv: 1,
                            testProfile: 'backupsample',
                            testFolder: 'stacksync_folder',
                            testClient: 'StackSync'
                        };


                        // controller actions
                        $scope.editing = []; //  variable
                        $scope.checkedAll = false;
                        // Invocar manager de hosts
                        $scope.hosts = Hosts.query(); // llistat de tots els hosts

                        $scope.saveHost = function () {
                            console.log('SaveHosts');
                            console.log($scope);
                            /*
                             if (!$scope.newHostHostname || $scope.newHostHostname.length < 1) return;
                             if (!$scope.newHostIp || $scope.newHostIp.length < 1) return;
                             if (!$scope.newHostLogging || $scope.newHostLogging.length < 1) return;
                             */
                            var host = new Hosts({
                                hostname: $scope.newHostHostname,
                                ip: $scope.newHostIp,
                                logging: $scope.newHostLogging
                            });
                            host.$save(function () {
                                $scope.hosts.push(host);
                                $scope.newHostHostname = ''; // clear textbox
                                $scope.newHostIp = ''; // clear textbox
                                $scope.newHostLogging = ''; // clear textbox
                            });
                            console.log(host);
                            console.log($scope.hosts);
                        };

                        $scope.save = function () {
                            if (!$scope.newHost || $scope.newHost.length < 1) return;
                            var host = new Hosts({name: $scope.newHost, completed: false});
                            host.$save(function () {
                                $scope.hosts.push(host);
                                $scope.newHost = ''; // clear textbox
                            });
                        };
                        $scope.update = function (index) {
                            var host = $scope.hosts[index];
                            Hosts.update({id: host._id}, host);
                            $scope.editing[index] = false;
                        };
                        $scope.ping = function (index) {
                            var host = $scope.hosts[index];
                            console.log(host);
                            testConnection(host.ip, 22); // port ssh
                            /*
                             Hosts.update({id: host._id}, host);
                             $scope.editing[index] = false;
                             */
                        };
                        $scope.rpc = function (name, cmd, ss) {
                            console.info(name, cmd, ss)
                            // console.log($scope)
                            if (ss == undefined) {
                                console.log("Not ss cmd")

                            } else {
                                console.info("ss cmd!")
                                cmd = cmd + $("#ssRadio input[type='radio']:checked")[0].value + ss;
                                console.log(cmd)
                            }
                            if (cmd !== 'warmUp') {
                                $('.' + name).each(function () {
                                    // console.log(this)
                                    if ($(this).prop('checked')) {
                                        var checkedId = this.value;
                                        var host = $scope.hosts.filter(function (item) {
                                            return item._id == checkedId
                                        })


                                        console.log("rpcHost" + cmd, this.name, checkedId, host[0]);
                                        rpcHost(host[0], cmd, addStatusScope)

                                    }
                                })
                            } else {
                                console.log("warmUp" + cmd, this.name, checkedId, host[0]);
                                runTest(cmd)
                            }
                            // Hosts.get({id: this.value})
                            // DETECTAR PER CLASS QUINES IDS ESTAN SELECCIONADES
                            // rpcHost(host, cmd, addStatusScope); // port ssh
                            /*
                             Hosts.update({id: host._id}, host);
                             $scope.editing[index] = false;
                             */
                        };

                        $scope.checkAll = function (name) {

                            $scope.checkedAll = !$scope.checkedAll;
                            // console.log($scope.checkedAll );
                            $('.' + name).each(function () {
                                // console.log(this);
                                // (this).prop('checked', $scope.checkedAll);
                                if ($(this).prop('checked') !== $scope.checkedAll)
                                    $(this).trigger('click');

                            });
                        };

                        $scope.runTest = function (warmup, cb) {

                            console.log($scope.hosts.length);
                            var test = $scope.run;


                            if (warmup === undefined) {
                                test.testWarmUp = '0';
                            } else {
                                test.testWarmUp = '1';
                            }

                            console.log(name)
                            console.log(test)
                            var hosts = $scope.hosts.filter(function (item) {
                                console.log(item);
                                if (item.test)
                                    return item;
                            });
                            console.log(hosts.length);
                            if (hosts.length === 0)
                                $.notify('Warning!, No host checked', 'warn');
                            else
                                $.notify('Request rpcTest forwarded!', 'info');
                            console.log('Hosts!!!');
                            rpcTest(hosts, test);

                        };

                        $scope.edit = function (index) {
                            console.log(index)
                            console.log($scope.editing)
                            $scope.editing[index] = angular.copy($scope.hosts[index]);
                        };
                        $scope.cancel = function (index) {
                            $scope.hosts[index] = angular.copy($scope.editing[index]);
                            $scope.editing[index] = false;
                        };
                        $scope.remove = function (index) {
                            var host = $scope.hosts[index];
                            Hosts.remove({id: host._id}, function () {
                                $scope.hosts.splice(index, 1);
                            });
                        };
                    }])
                //---------------
                // Routes
                //---------------
                    .config(['$routeProvider', function ($routeProvider) {
                        $routeProvider
                                .when('/', { // quan accedeixo al root de home es criden aquests controladors
                                    templateUrl: 'html/hosts.html',
                                    controller: 'HostController'
                                })
                                .when('/:id', { // si especifico amb un id es crida aquest
                                    templateUrl: 'html/hostDetails.html',
                                    controller: 'HostDetailCtrl'
                                });
                    }]);
            console.log("Home Script loaded");

        script(type='text/javascript').
            GLOBAL_VAR = null;
            console.log("button controller");
            var statusIdx = 0;

            function addStatusScope(args) {
                // console.log(args);
                var name = args.ip + ':' + args.cmd;
                var statusId = "stat_" + statusIdx++;
                $("#requestStatus").append("<div class='row' id=" + statusId + "><div class='col-md-4'>" + name + " : " + statusId + "</div><div class='col-md-8 stats'>liveRpcFeedBack</div></div>");
                var statusCmd;
                // alert(args.cmd)
                switch (args.cmd) {
                    case "setup":
                        args.target = 'localhost'
                        statusCmd = 'hostname; ls BenchBox -R | grep -q ss.*.key; echo $?\?; ';

                        // check if the vms exists
                        // preparar scripts i realitzar comprovacions incrementals?
                        // 1/6 existeix la carpeta benchbox i no esta buida?
                        // 2/6 te instalat vagrant i virtualbox? | vagrant list-commands && $? -eq 0 &&
                        // 3/6 te descarregat la imatge de vagrant?  | --> ls -l ~/BenchBox/vagrant/*.box
                        // 4/6 te asignat el profile?  | --> ~/BenchBox/vagrant/profile
                        /*
                         comprovar que en la maquina estigui installats els claus dels usuaris
                         si esta retorna 0 exit code OK
                         else retorn != 0
                         */
                        break;
                    case "vagrantUp":
                        args.target = 'localhost';

                        // ho to implement two phase check??,
                        statusCmd = 'hostname; VBoxManage list runningvms | [ $(wc -l) -eq 2 ]; echo $?\?; ';
                        // check there are no provisioning procedures running
                        // if its equal to one it belongs to the grep opration
                        // how to know if the vms are running
                        // VBoxManage list runningvms
                        // and count the number of machines running
                        // if its 2 we consider it ok but it might not be the case.
                        break;

                    case "vagrantProvisioned":
                        args.target = 'localhost';
                        //   statusCmd = 'hostname; ps -ef | grep provision | [ $(wc -l) -eq 1 ]; echo $?\?; ';

                        break;

                    case "warmUp":
                        args.target = 'benchBox';
                        //  check benchBox ~/output folder not empty
                        statusCmd = 'hostname; [ -d output ]; echo $?\?; '
                        break;

                    case "tearDown":
                        args.target = 'benchBox';
                        statusCmd = 'hostname; [ ! -d output ]; echo $?\?; '
                        //  check that the benchBox ~/output folder is empty of residual files.

                        break;

                    case "vagrantDown":

                        args.target = 'localhost';
                        statusCmd = 'hostname; VBoxManage list runningvms | [ $(wc -l) -eq 0 ]; echo $?\?; ';
                        // check that there are no virtual machines running
                        //
                        break;
                    case "monitorUp":
                        args.target = 'sandBox';
                        statusCmd = 'hostname; pgrep python > /dev/null; echo $?\?; ';
                        // how to check if the sandBox monitor listener is running?
                        // check if an python process is running
                        //
                        break;
                    case "clientStacksyncUp":
                        statusCmd = 'hostname; pgrep java > /dev/null; echo $?\?; ';
                        args.target = 'sandBox';
                        // check there is no java process running
                        break;
                    case "clientStacksyncDown":
                        statusCmd = 'hostname; pgrep java > /dev/null; [ $? -ne 0 ]; echo $?\?; ';
                        args.target = 'localhost';
                        // check there is java process running
                        break;
                    case "clientOwncloudUp":
                        statusCmd = 'hostname; echo 0\?; ';
                        args.target = 'benchBox';
                        break;
                    case "execute":
                    // check if the execute procedure is still running at the benchBox machine.
                    default:
                        console.log(args.cmd);
                        statusCmd = 'hostname; echo 0\?';
                        break;
                }

                console.log(args)
                // args.target = 'sandBox';

                var finish = false;
                var itvTimeout = 0;
                var itvMax = 5000; // 6000 * 3 = 18000 segundos
                var itvTimer = 3000;
                var statusItv = setInterval(function () {
                    console.log(itvTimeout);
                    itvTimeout++;
                    if (finish === true) {

                        $('#' + statusId).remove();
                        clearInterval(statusItv);
                    }
                    if (itvTimeout === 50) {
                        finish = true;
                        $.notify('ExitTryLimit', 'warn')
                    } else {
                        switch (args.target) {
                            case 'sandBox':
                                console.warn('sandBox');
                                rpcStatus(args, statusCmd, statusId, 'sandBox');
                                break;

                            case 'benchBox':
                                console.warn('benchBox');
                                rpcStatus(args, statusCmd, statusId, 'benchBox');

                                break;
                            default:
                                console.warn('localhost');
                                rpcStatus(args, statusCmd, statusId, 'localhost');
                                break;
                        }

                        var currStatus = $('#' + statusId).children('.stats').text();
                        var notFound = "-1"
                        console.log(currStatus)
                        if (currStatus.indexOf('0?') == notFound) {
                            console.warn('Still not found!')
                            if (currStatus.indexOf('No route to host') == notFound) {
                                console.log('Waiting' + statusId);
                            } else {
                                console.error('First setup vagrant up');
                                $.notify('Require vagrantUp: ' + statusId + args.cmd, 'error');
                                finish = true;
                            }

                            // si no existe un 0 implica que no ha terminado
                        } else {
                            // ha terminado
                            console.info('StatusId: ' + statusId + ' Completed!');
                            finish = true; // por que se ha encontrado un exit code zero
                            $.notify('SuccessStatus: ' + statusId + args.cmd, 'success');
                        }

                    }
                }, itvTimer);
            }

            $('#btnHello').click(
                    function () {
                        console.log("Say hello");
                        $.get('http://localhost:3000/rpc/hello', {}, function (data) {
                            console.log("success hello");
                            console.log(JSON.stringify({data: data}));
                        });
                        console.log("Fin hello");
                    });


            $('#btnCmd').click(
                    function () {

                        console.log("Run cmd");

                        $.get('http://localhost:3000/rpc/cmd',
                                {cmd: $('#inputCmd').val()},
                                function (data) {
                                    console.log("success hello!!!!!!!!!!!!!!!!!!!!!!!!!!");
                                    writeToLogger('loggerFrame', data);
                                });
                        console.log("Success, run cmd!");
                    });

            $('#btnStart').click(
                    function () {
                        console.log("Run start");
                        $.ajax({
                            url: 'http://localhost:3000/rpc/start',
                            type: 'GET',
                            success: function () {
                                console.log("Success, run start!");
                            },
                            error: function () {

                            }
                        });
                    });

            $('#btnGoodbye').click(
                    function () {
                        console.log("Say goodbye");
                        $.ajax({
                            url: 'http://localhost:3000/rpc/goodbye',
                            type: 'GET',
                            success: function () {
                                console.log("Success, say goodbye!");
                            }
                        });
                    });

            $('#btnList').click(
                    function () {
                        console.log("Get list");
                        $.ajax({
                            url: 'http://localhost:3000/rpc/list',
                            type: 'GET',
                            success: function (data) {
                                console.log("Success, say list!");
                                console.log(data);
                                writeToLogger('loggerFrame', data);
                            }
                        });
                    });

            writeToLogger = function (loggerID, lines) {
                data = lines;
                // clear logger content
                $('#' + loggerID).val('');
                lines = JSON.parse(data.result);

                // publish new data
                console.log(lines);
                console.log("Show");
                lines.forEach(function (line, idx) {
                    console.log(line);
                    if (line !== '')
                        $('#' + loggerID).val($('#' + loggerID).val() + line + '\n');
                });
                $('#' + loggerID).scrollTop($('#' + loggerID)[0].scrollHeight);
            };


            testConnection = function (ip, port, cb) {
                console.log('PING ---->', ip, port);
                // if i dont need to use the failure  function they recommend me to use post or get
                console.log("Get list");
                $.ajax({
                    url: 'http://localhost:3000/rpc/nmap',
                    contentType: "application/json; charset=utf-8",
                    data: {data: ip + ' ' + port},
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        console.log('pc, Result:');
                        console.log(data);
                        // console.log(JSON.parse(JSON.stringify(data)));
                        console.log('...');
                        if (JSON.parse(data.result)) {
                            $.notify('Success! ping(' + ip + ':' + port + ')', 'success');
                        } else {
                            $.notify('Warning! ping(' + ip + ':' + port + ')', 'warn');
                        }
                        // $.notify('Hello','info');
                    },
                    error: function (err) {
                        console.log(err);
                        console.log('pc, Error ping(' + ip + ':' + port + ')', err);
                        $.notify('Error! ' + err, 'error ');
                    }
                });
            };

            // cmd should be an object
            rpcHost = function (host, cmd, cb) {
                var args = {
                    ip: host.ip,
                    hostname: host.hostname,
                    login: host.logging,
                    profile: host.profile,
                    cred_stacksync: host.cred_stacksync,
                    cred_owncloud: host.cred_owncloud,
                    cmd: cmd
                };
                appendAllParams(args, 'bb-config');
                appendAllHosts(args, 'bb-hosts');
                $.ajax({
                    url: 'http://localhost:3000/rpc/rpc',
                    data: args,
                    timeout: 6000000, // 6000s ::100min
                    type: 'GET',
                    success: function (data) {
                        console.log("Success, run start!");
                        console.log(data);
                        $.notify('Success! ' + host.hostname + ' ' + cmd, 'success');
                    },
                    error: function (err) {
                        console.log(err);
                        console.log('pc, Error ' + host + ' ' + cmd + ' ', err);
                        $.notify('Error! ' + err, 'error');
                    }
                });
                cb(args);
            };

            rpcStatus = function (args, cmd, statusId, target) {
                console.log("rpcStatus");
                console.log(args, cmd, statusId, target);
                args.status = cmd;
                args.target = target;

                $.ajax({
                    url: 'http://localhost:3000/rpc/status',
                    data: args,
                    timeout: 6000000, // 6000s ::100min
                    type: 'GET',
                    success: function (data) {
                        console.log("Success, run start!");
                        console.log(data);
                        // $.notify('Success! ' + args.hostname + ' ' + cmd, 'success');
                        console.log($('#' + statusId))
                        // $('#'+statusId).children('.stats').text(data.result);
                        $('#' + statusId).children('.stats').text(data);
                    },
                    error: function (err) {
                        console.log(err);
                        console.log('pc, Error ' + args + ' ' + cmd + ' ', err);
                        $.notify('Error! ' + err, 'error');
                    }
                });
            };
            rpcTest = function (hosts, test, cb) {
                console.log("RunTests ");
                console.log("Hosts: ", hosts);
                console.log("Test: ", test);

                hosts.forEach(function (host) {
                    console.log(host);
                    console.log('->');
                    console.log(test);
                    var cmd = 'test';
                    var args = {
                        ip: host.ip,
                        hostname: host.hostname,
                        login: host.logging,
                        profile: host.profile,
                        cred_stacksync: host.cred_stacksync,
                        cred_owncloud: host.cred_owncloud,
                        cmd: 'test',
                        test: test
                    };

                    $.ajax({
                        url: 'http://localhost:3000/rpc/rpc',
                        data: args,
                        timeout: 6000000, // 6000s ::100min
                        type: 'GET',
                        success: function (data) {
                            console.log("Success, run test! " + (test));
                            console.log(JSON.stringify(data));
                            $.notify('Success! ' + host.hostname + ' ' + cmd, 'success');
                        },
                        error: function (err) {
                            console.log(err);
                            console.log('pc, Error ' + host + ' ' + cmd + ' ', err);
                            $.notify('Error! ' + err, 'error');
                        }
                    });
                });

                /*
                 if (cb !== undefined)
                 cb()
                 */
            };

            appendAllParams = function (target, className) {
                $('.' + className).each(function () {
                    target[$(this).attr("id")] = ($(this).attr('value'));
                });
            };

            appendAllHosts = function (target, className) {
                target.hosts = {};
                $('.' + className).each(function () {

                    target.hosts[$(this).find('p.host-name').text()] = {
                        ip: $(this).find('p.host-ip').text(),
                        login: $(this).find('p.host-login').text()

                    };
                    // $(this).find('p.host-name');
                    // console.log(target.hosts);
                });
                GLOBAL_VAR = target;
            };

            notifyButtonById = function (btnId) {
                // self
            };

            $.fn.graphite.defaults.url = "https://localhost:8443/renderer/";
            $.fn.graphite.defaults.width = "450";
            $.fn.graphite.defaults.height = "300";

            try {
                /*
                 $('#monitorCPU').graphite({
                 // url: "http://myserver/render/",
                 from: "-1d",
                 target: [
                 "carbon.agents.vagrant-ubuntu-trusty-64-1.memUsage"
                 ],
                 title: "CPUMonitor"
                 });
                 $('#monitorXXX').graphite({
                 // url: "http://myserver/render/",
                 from: "-1hours",
                 target: [
                 "carbon.agents.vagrant-ubuntu-trusty-64-1.cpuUsage"
                 ],
                 title: "XXXMonitor"
                 });


                 $('#monitorRAM').graphite({
                 // url: "http://myserver/render/",
                 from: "-1hours",
                 target: [
                 "carbon.agents.vagrant-ubuntu-trusty-64-1.memUsage"
                 ],
                 title: "RamMonitor"
                 });

                 $('#monitorNET').graphite({
                 // url: "http://myserver/render/",
                 from: "-1hours",
                 colorList: 'red,green',
                 target: [
                 "alias(carbon.agents.vagrant-ubuntu-trusty-64-1.pointsPerUpdate, 'pointsPerUpdate')",
                 "alias(carbon.agents.vagrant-ubuntu-trusty-64-1.updateOperations, 'updateOps')"
                 ],
                 title: "NetworkMonitor"
                 });
                 */
                console.log("do grephite");
            } catch (err) {
                console.warn('Error happened', JSON.stringify(err));
            }

            $('#btnFixImage').click(function () {
                console.log("btnFixImage")
                function openNewBackgroundTab(url) {
                    var a = document.createElement("a");
                    a.href = url;
                    var evt = document.createEvent("MouseEvents");

                    evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0,
                            true, false, false, false, 0, null);
                    a.dispatchEvent(evt);
                }

                var url = prompt("Please enter graphite: [ip:port]", "10.30.103.95:8443");
                if (url != null) {
                    console.log('Dispatch openNewWindow')
                    openNewBackgroundTab('https://' + url + '/renderer/?from=-1d&height=300&until=now&width=450&target=carbon.agents.vagrant-ubuntu-trusty-64-1.memUsage&title=CPUMonitor&_t=0.013591398485004902');
                }

            });


            console.log(GLOBAL_VAR);
